<a href="https://colab.research.google.com/github/DKorchagina/industrial-development-git-control-task/blob/main/7_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Корчагина Дарья, ИВТ-41БО

##Задание 7.1 Выборочный коэффициент корреляции

###Task1
Любознательный Никодим копал картошку и заинтересовался, как связано количество колорадских жуков на кусте картофеля и количество крупных клубней
(картофелин), которые он выкапывает из-под этого куста. Поставьте гипотезу и
проверьте её по таблице*.

In [1]:
import xlrd
import pandas
bugs, potatos = [], []
rb = xlrd.open_workbook('/content/drive/MyDrive/Colab Notebooks/terver/Практика 7.01 - данные для анализа.xls', formatting_info=True)
sheet = rb.sheet_by_index(0)
for rownum in range(sheet.nrows):
  row = sheet.row_values(rownum)
  if (rownum != 0):
    bugs.append(row[0])
    potatos.append(row[1])
df1 = pandas.DataFrame(data={'bugs': bugs, 'potatos': potatos})
df1

   bugs  potatos
0   2.0     10.0
1   1.0      5.0
2   1.0      2.0
3   5.0      6.0
4   5.0      0.0
5   2.0      0.0
6   0.0      4.0
7   1.0      3.0
8   0.0      4.0
9   4.0      5.0

Гипотеза: количество колорадских жуков на кусте картофеля и количество крупных клубней независимы

H0 = {r(X, Y ) = 0}

In [2]:
av_x = sum(df1['bugs'])/df1.shape[0]
av_y = sum(df1['potatos'])/df1.shape[0]
av_x2 = sum(df1['bugs']**2)/df1.shape[0]
av_y2 = sum(df1['potatos']**2)/df1.shape[0]
av_xy = sum(df1['bugs']*df1['potatos'])/df1.shape[0]
av_x, av_y, av_x2, av_y2, av_xy

(2.1, 3.9, 7.7, 23.1, 8.0)

In [3]:
import math
r_v1 = (av_xy - av_x*av_y)/(math.sqrt(av_x2 - (av_x)**2)*math.sqrt(av_y2 - (av_y)**2))
r_v1

-0.03729212664043498

In [4]:
t1 = math.sqrt(df1.shape[0]-2)*r_v1/math.sqrt(1-(r_v1)**2)
t1

-0.10555148343181263

In [5]:
t_krit1 = 2.3060
if abs(t1) > t_krit1:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")

Нет оснований отвергнуть нулевую гипотезу

###Task2
По предложенному фрагменту таблицы* соревнования десятиборцев на чемпионате мира по лёгкой атлетике 2019 года оцените зависимость между результатами
в беге на 100 метров и в толкании ядра.

In [6]:
metr, core = [], []
rb = xlrd.open_workbook('/content/drive/MyDrive/Colab Notebooks/terver/Практика 7.01 - данные для анализа.xls', formatting_info=True)
sheet = rb.sheet_by_index(1)
for rownum in range(sheet.nrows):
  row = sheet.row_values(rownum)
  if (rownum != 0):
    metr.append(row[1])
    core.append(row[2])
df2 = pandas.DataFrame(data={'metr': metr, 'core': core})
df2

     metr   core
0   10.75  12.43
1   10.35  14.97
2   10.84  13.76
3   11.13  13.97
4   10.88  15.42
5   10.76  13.78
6   11.02  14.71
7   10.94  15.20
8   10.82  14.30
9   11.44  14.31
10  10.50  16.82
11  10.66  16.24
12  11.10  15.12
13  10.94  15.08
14  11.27  15.10
15  10.76  15.26
16  10.36  13.21
17  11.16  15.26
18  10.70  15.33
19  11.38  13.78
20  11.12  14.69
21  10.95  15.13

In [7]:
av_x_2 = sum(df2['metr'])/df2.shape[0]
av_y_2 = sum(df2['core'])/df2.shape[0]
av_x2_2 = sum(df2['metr']**2)/df2.shape[0]
av_y2_2 = sum(df2['core']**2)/df2.shape[0]
av_xy_2 = sum(df2['metr']*df2['core'])/df2.shape[0]
av_x_2, av_y_2, av_x2_2, av_y2_2, av_xy_2

(10.901363636363634,
 14.721363636363634,
 118.92207727272725,
 217.63589545454542,
 160.4552090909091)

In [8]:
r_v2 = (av_xy_2 - av_x_2*av_y_2)/(math.sqrt(av_x2_2 - (av_x_2)**2)*math.sqrt(av_y2_2 - (av_y_2)**2))
t2 = math.sqrt(df2.shape[0]-2)*r_v2/math.sqrt(1-(r_v2)**2)
t2, df2.shape[0]-2

(-0.45350162579924924, 20)

In [9]:
t_krit2 = 2.0860
if abs(t2) > t_krit2:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")

Нет оснований отвергнуть нулевую гипотезу