<a href="https://colab.research.google.com/github/DKorchagina/industrial-development-git-control-task/blob/main/7_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Корчагина Дарья, ИВТ-41БО

##Задание 7.1 Выборочный коэффициент корреляции

###Task1
Любознательный Никодим копал картошку и заинтересовался, как связано количество колорадских жуков на кусте картофеля и количество крупных клубней
(картофелин), которые он выкапывает из-под этого куста. Поставьте гипотезу и
проверьте её по таблице*.

In [1]:
import xlrd
import pandas
bugs, potatos = [], []
rb = xlrd.open_workbook('/content/drive/MyDrive/Colab Notebooks/terver/Практика 7.01 - данные для анализа.xls', formatting_info=True)
sheet = rb.sheet_by_index(0)
for rownum in range(sheet.nrows):
  row = sheet.row_values(rownum)
  if (rownum != 0):
    bugs.append(row[0])
    potatos.append(row[1])
df1 = pandas.DataFrame(data={'bugs': bugs, 'potatos': potatos})
df1

   bugs  potatos
0   2.0     10.0
1   1.0      5.0
2   1.0      2.0
3   5.0      6.0
4   5.0      0.0
5   2.0      0.0
6   0.0      4.0
7   1.0      3.0
8   0.0      4.0
9   4.0      5.0

Гипотеза: количество колорадских жуков на кусте картофеля и количество крупных клубней независимы

H0 = {r(X, Y ) = 0}

In [2]:
av_x = sum(df1['bugs'])/df1.shape[0]
av_y = sum(df1['potatos'])/df1.shape[0]
av_x2 = sum(df1['bugs']**2)/df1.shape[0]
av_y2 = sum(df1['potatos']**2)/df1.shape[0]
av_xy = sum(df1['bugs']*df1['potatos'])/df1.shape[0]
av_x, av_y, av_x2, av_y2, av_xy

(2.1, 3.9, 7.7, 23.1, 8.0)

In [3]:
import math
r_v1 = (av_xy - av_x*av_y)/(math.sqrt(av_x2 - (av_x)**2)*math.sqrt(av_y2 - (av_y)**2))
r_v1

-0.03729212664043498

In [4]:
t1 = math.sqrt(df1.shape[0]-2)*r_v1/math.sqrt(1-(r_v1)**2)
t1

-0.10555148343181263

In [5]:
t_krit1 = 2.3060
if abs(t1) > t_krit1:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")

Нет оснований отвергнуть нулевую гипотезу

###Task2
По предложенному фрагменту таблицы* соревнования десятиборцев на чемпионате мира по лёгкой атлетике 2019 года оцените зависимость между результатами
в беге на 100 метров и в толкании ядра.

In [6]:
metr, core = [], []
rb = xlrd.open_workbook('/content/drive/MyDrive/Colab Notebooks/terver/Практика 7.01 - данные для анализа.xls', formatting_info=True)
sheet = rb.sheet_by_index(1)
for rownum in range(sheet.nrows):
  row = sheet.row_values(rownum)
  if (rownum != 0):
    metr.append(row[1])
    core.append(row[2])
df2_metr = pandas.DataFrame(data={'metr': metr})
df2_metr.sort_values(by=['metr'], inplace=True, ignore_index=True)
def score_rang(el):
  rang_list = df2_metr.index[df2_metr['metr']==el].tolist()
  if len(rang_list)==1:
    return rang_list[0] + 1
  else:
    return (sum(rang_list) + 2)/len(rang_list)
df2_metr['metr rang'] = df2_metr['metr'].apply(score_rang)
df2_core = pandas.DataFrame(data={'core': core})
df2_core.sort_values(by=['core'], inplace=True, ignore_index=True)
def score_rang_core(el):
  rang_list = df2_core.index[df2_core['core']==el].tolist()
  if len(rang_list)==1:
    return rang_list[0] + 1
  else:
    return (sum(rang_list) + 2)/len(rang_list)
df2_core['core rang'] = df2_core['core'].apply(score_rang_core)
df2 = df2_metr.join(df2_core, rsuffix='_right')
df2

     metr  metr rang   core  core rang
0   10.35        1.0  12.43        1.0
1   10.36        2.0  13.21        2.0
2   10.50        3.0  13.76        3.0
3   10.66        4.0  13.78        4.5
4   10.70        5.0  13.78        4.5
5   10.75        6.0  13.97        6.0
6   10.76        7.5  14.30        7.0
7   10.76        7.5  14.31        8.0
8   10.82        9.0  14.69        9.0
9   10.84       10.0  14.71       10.0
10  10.88       11.0  14.97       11.0
11  10.94       12.5  15.08       12.0
12  10.94       12.5  15.10       13.0
13  10.95       14.0  15.12       14.0
14  11.02       15.0  15.13       15.0
15  11.10       16.0  15.20       16.0
16  11.12       17.0  15.26       17.5
17  11.13       18.0  15.26       17.5
18  11.16       19.0  15.33       19.0
19  11.27       20.0  15.42       20.0
20  11.38       21.0  16.24       21.0
21  11.44       22.0  16.82       22.0

H0 = {r(x, y ) = 0}

In [7]:
df2['metr rang'] - df2['core rang']

0     0.0
1     0.0
2     0.0
3    -0.5
4     0.5
5     0.0
6     0.5
7    -0.5
8     0.0
9     0.0
10    0.0
11    0.5
12   -0.5
13    0.0
14    0.0
15    0.0
16   -0.5
17    0.5
18    0.0
19    0.0
20    0.0
21    0.0
dtype: float64

In [8]:
sum_di = sum((df2['metr rang'] - df2['core rang'])**2)
sum_di

2.0

In [9]:
ro_v = 1 - (6*sum_di)/(df2.shape[0]**3 - df2.shape[0])
ro_v

0.9988706945228685

In [10]:
t2 = math.sqrt(df2.shape[0]-2)*ro_v/(math.sqrt(1-(ro_v)**2))
t2

94.02128921079056

In [11]:
t_krit2 = 2.0860 
if abs(t2) > t_krit2:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")

Нулевая гипотеза отвергается