<a href="https://colab.research.google.com/github/DKorchagina/industrial-development-git-control-task/blob/main/odnor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Корчагина Дарья, ИВТ-41БО

##Гипотеза однородности. Задания

###Task1
По предложенной таблице* (частично обработанным выборкам) проверить гипотезу об однородности представленных выборок с помощью двухвыборочного
критерия Пирсона.

In [117]:
import pandas
d = {1: [12, 3], 2: [42, 13], 3: [35, 43], 4: [9, 65], 5: [2, 26]}
df = pandas.DataFrame(data=d)
df

    1   2   3   4   5
0  12  42  35   9   2
1   3  13  43  65  26

H0 = {FX (t) = FY (t)}

In [118]:
m, n = df.sum(axis=1)
m, n

(100, 150)

In [119]:
summa = 0
for i in range(1, 6):
  summa += (1/(sum(df[i])))*(df[i][0]/m - df[i][1]/n)**2

In [120]:
summa_pearsona = m*n*summa
summa_pearsona

77.56378006378007

r-1 = 4, alpha = 0.05

In [121]:
x_krit = 9.48773

In [122]:
if summa_pearsona > x_krit:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")

Нулевая гипотеза отвергается

###Task2
По предложенной таблице* (выборкам) проверить гипотезу об однородности представленных выборок с помощью двухвыборочного критерия Пирсона.

In [123]:
import xlrd
numbers2 = []
rb = xlrd.open_workbook('/content/drive/MyDrive/Colab Notebooks/terver/Практика 6 - данные для анализа.xls', formatting_info=True)
sheet = rb.sheet_by_index(1)
for rownum in range(sheet.nrows):
  row = sheet.row_values(rownum)
  for c_el in row:
    numbers2.append(c_el)

In [124]:
numbers2_x = numbers2[:100]
numbers2_x

[0.3827306265915737,
 0.15458519906281706,
 0.003048409444728388,
 0.6231130015498721,
 1.6266235757426515,
 8.521796324058586,
 0.09130438996347162,
 0.024106847757683257,
 0.03714182517625516,
 1.3649806597054894,
 1.2507345369883631,
 5.775434700228725,
 7.147112482809527,
 8.401781632521825,
 1.0349077900764208,
 0.011010655895782534,
 1.3954831991912449,
 1.8103942089566158,
 1.105737016920102,
 4.613917297678769,
 7.715825696384258,
 5.649756695130257,
 2.1777897727514426,
 0.02585422142596626,
 2.618276775654172,
 3.888538569390387,
 9.012712976613663,
 0.001646401346674025,
 4.864271495127818,
 0.2630410207598479,
 0.33074755411228673,
 9.445705379110517,
 3.2109016219180746,
 0.9623086390522257,
 8.78428829970744,
 4.688758204712497,
 1.5544531897672007,
 1.1443877244715226,
 5.8213144379818536,
 5.654804265325569,
 5.816777128524303,
 6.361075311275023,
 5.477977458925042,
 3.0406730554557715,
 2.261111064960674,
 9.801656427848298,
 0.14767263909511555,
 0.9031382278311857,
 4.632473679146882,
 2.5097133434144703,
 0.05954452013123508,
 0.541447751010761,
 0.09919636553349821,
 9.745247220785018,
 0.423560306582922,
 0.0029050365339816924,
 5.624246902502229,
 1.229955233495585,
 2.355482647688001,
 7.23141801581391,
 2.366325331650742,
 3.083115145438634,
 2.7155334407336107,
 9.51724433761973,
 3.4168792584055763,
 4.664281766076959,
 3.1394143909673438,
 9.744229154624321,
 5.2458919153230275,
 3.3053602797428168,
 1.7324501246811348,
 2.8393750740396206,
 2.049457489991798,
 2.5184736279089788,
 0.5246559651925689,
 8.093275295143467,
 0.09819204284597693,
 0.5166043507055115,
 7.195291112393056,
 6.642746622215921,
 1.028909116264482,
 7.014381068216892,
 7.035392052162933,
 0.00020943835742633527,
 0.2938402360179762,
 1.0384872953523525,
 0.40681333457428137,
 6.97824466130862,
 8.950365073621304,
 2.033645426626032,
 0.25650954292456596,
 0.6345258023718554,
 6.043377427199493,
 5.005066686007159,
 2.0931423339661075,
 0.10199773349032314,
 1.1886753372589314,
 0.17874469601380166,
 0.9232704525043735,
 6.131352101336719]

In [125]:
numbers2_y = numbers2[120:]
numbers2_y

[4.947031345848318,
 8.894401186554807,
 0.5835719023870967,
 3.4176264273070354,
 7.623346823801277,
 1.4970481318071993,
 4.078478277699636,
 8.893728013023425,
 7.26803564132693,
 4.142662668644866,
 1.9205864924123117,
 8.36937119410225,
 1.6188727354205101,
 0.43802106835117427,
 3.467177710256254,
 9.622302273558832,
 4.905802193543268,
 5.262031150927543,
 1.176753206299963,
 5.6200482169267225,
 0.3520659111802882,
 8.2918470899216,
 6.143656530316904,
 0.30649875975925056,
 6.087905033087301,
 7.909805524826405,
 6.289061364068115,
 6.6709944296886325,
 0.8679782206915343,
 4.722123181483045,
 2.5606879133718707,
 2.150583956210379,
 1.7249426815501012,
 2.123441511847064,
 3.209461678181962,
 7.71396382372817,
 6.2433146525099215,
 3.988622659504931,
 0.4508659107588131,
 6.381752130789523,
 5.6572191166344945,
 6.565637077993092,
 4.082345711449838,
 5.790446598012222,
 5.099656368600702,
 0.21368911786907252,
 4.726261152591757,
 2.7073112808803868,
 6.8457441325426425,
 9.94066171357902,
 2.310944314051353,
 3.403505110899796,
 8.837389109930317,
 7.3726776012154085,
 6.275113199933021,
 2.492567563565987,
 3.079539085950811,
 6.71188262275137,
 0.8333754297671736,
 9.743777385369935,
 2.936147096003141,
 8.197577009000966,
 9.091011449727823,
 1.1253582901853632,
 1.6562912181756717,
 7.174158980905948,
 6.070127752039697,
 5.361701056615665,
 6.512892989261113,
 9.306033132572178,
 0.43405510080318566,
 2.0199218877584277,
 5.143914317019224,
 2.194412646325763,
 7.863093934323406,
 5.136783282251585,
 1.9626315760695845,
 0.7468953750305407,
 5.64809202966849,
 3.2214079259626605]

In [126]:
c2_min_x = min(numbers2_x)
c2_max_x = max(numbers2_x)
c2_min_y = min(numbers2_y)
c2_max_y = max(numbers2_y)
print( c2_min_x, c2_max_x, c2_min_y, c2_max_y)

0.00020943835742633527 9.801656427848298 0.21368911786907252 9.94066171357902

Интервалы [0, 3), [3, 5), [5, 7), [7, 10]

In [127]:
count_for_delta2 = {'delta1': [len([item for item in numbers2_x if item >=0 and item < 3]), len([item for item in numbers2_y if item >=0 and item < 3])], 
    'delta2': [len([item for item in numbers2_x if item >=3 and item < 5]), len([item for item in numbers2_y if item >=3 and item < 5])],
    'delta3': [len([item for item in numbers2_x if item >=5 and item < 7]), len([item for item in numbers2_y if item >=5 and item < 7])],
    'delta4': [len([item for item in numbers2_x if item >=7 and item < 10]), len([item for item in numbers2_y if item >=7 and item < 10])]
}
df2 = pandas.DataFrame(data=count_for_delta2)
df2

   delta1  delta2  delta3  delta4
0      57      12      14      17
1      27      14      21      18

In [128]:
m2, n2 = df2.sum(axis=1)
m2, n2

(100, 80)

In [129]:
summa2 = 0
for i in range(1, 5):
  summa2 += (1/(sum(df2['delta' + str(i)])))*(df2['delta' + str(i)][0]/m2 - df2['delta' + str(i)][1]/n2)**2
summa_pearsona2 = m2*n2*summa2
summa_pearsona2

10.200412087912085

In [130]:
x_krit2 = 7.81473 
if summa_pearsona2 > x_krit2:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")

Нулевая гипотеза отвергается

###Task3
Группу школьников случайно разбили на две части, после чего первая подгруппа
проходила курсы по сдаче единого экзамена по ОБЖ. В таблице* представлены
итоговые результаты экзамена для этих двух групп. Сформулируйте статистическую гипотезу и оцените эффективность тренинга.

In [131]:
numbers3_x = []
numbers3_y = []
rb = xlrd.open_workbook('/content/drive/MyDrive/Colab Notebooks/terver/Практика 6 - данные для анализа.xls', formatting_info=True)
sheet = rb.sheet_by_index(2)
for rownum in range(sheet.nrows):
  row = sheet.row_values(rownum)
  if (rownum!=0):
    numbers3_x.append(row[0])
    numbers3_y.append(row[1])
numbers3_x, numbers3_y

([54.0,
  76.0,
  34.0,
  98.0,
  80.0,
  84.0,
  54.0,
  54.0,
  76.0,
  76.0,
  82.0,
  80.0,
  80.0,
  '',
  '',
  '',
  ''],
 [58.0,
  58.0,
  58.0,
  92.0,
  92.0,
  70.0,
  38.0,
  44.0,
  48.0,
  52.0,
  72.0,
  72.0,
  72.0,
  50.0,
  54.0,
  54.0,
  95.0])

H0 = {FX (t) = FY (t)}

In [132]:
count_for_delta3 = { 
    'delta1': [len([item for item in numbers3_x if item != '' and item < 50]), len([item for item in numbers3_y if item != '' and item < 50])],
    'delta2': [len([item for item in numbers3_x if item != '' and item >=50 and item < 70]), len([item for item in numbers3_y if item != '' and item >=50 and item < 70])],
    'delta3': [len([item for item in numbers3_x if item != '' and item >=70 and item < 100]), len([item for item in numbers3_y if item != '' and item >=70 and item < 100])]
}
df3 = pandas.DataFrame(data=count_for_delta3)
df3

   delta1  delta2  delta3
0       1       3       9
1       3       7       7

In [133]:
m3, n3 = df3.sum(axis=1)
m3, n3

(13, 17)

In [134]:
summa3 = 0
for i in range(1, 4):
  summa3 += (1/(sum(df3['delta' + str(i)])))*(df3['delta' + str(i)][0]/m3 - df3['delta' + str(i)][1]/n3)**2
summa_pearsona3 = m3*n3*summa3
summa_pearsona3

2.358597285067873

In [135]:
print("для альфы = 0.05")
x_krit3_005 = 5.99146 
if summa_pearsona3 > x_krit3_005:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")
print("для альфы = 0.01")
x_krit3_001 = 9.21034
if summa_pearsona3 > x_krit3_001:
  print("Нулевая гипотеза отвергается")
else:
  print("Нет оснований отвергнуть нулевую гипотезу")

для альфы = 0.05
Нет оснований отвергнуть нулевую гипотезу
для альфы = 0.01
Нет оснований отвергнуть нулевую гипотезу

Вывод: прохождение курса не повлияло на сдачу экзамена. Тренинг не эффектифен